<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorry</title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" />

    
</head>
<body>
    <div id="main04">
        <h1 id="Err">Sorry , We are not getting the city</h1>
        <div class="SB">
            <button class="B"> <a class="b" href="Back"><h4>Back  <i class="ri-arrow-go-back-line"></i></h4></a></button>
</div>
    </div>
    <div id="img404">
        <img src="https://imgs.search.brave.com/61MnKwDdQHLG2XxRExI4H_xmbVJHRpMbenX3rpFGgts/rs:fit:1200:800:1/g:ce/aHR0cHM6Ly9ibG9n/Lm1hZ2V6b24uY29t/L3dwLWNvbnRlbnQv/dXBsb2Fkcy8yMDIx/LzA4LzQwNC1QYWdl/LU5vdC1Gb3VuZC1F/cnJvcnMuanBn" alt="">
    </div>
    

  
    
</body>
</html>