<!DOCTYPE html>
<html>
  <head>
    <title>Weather</title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" />
  </head>
  <body>
    
    <div id="main">
      <h2>Enter the City Name</h2>
      <form action= "/fetch" method="post" autocomplete="off">
        <input id="I2" type="text" name="cityname" placeholder="City Name"><br>
        <input id="S1" type="submit" value="Fetch Weather" > 
      </form>
    </div>

    <div id="imgmain">
<img src="https://images.unsplash.com/photo-1548475390-f6908921aaf8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="">    </div>
</body>
</html>
